<header class="bg-zinc-900 flex flex-col md:flex-row justify-center p-20 gap-3">
  <div class="flex flex-col gap-5">
    <h1 class="text-5xl font-bold">Protect Your Password</h1>
    <p class="text-white">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum, expedita! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere, repellendus.
    </p>
    <button class="bg-yellow-700 rounded-2xl px-3 py-2 hover:bg-yellow-600 md:w-40 text-bold">Start Now</button>
  </div>
  <img class="w-80" src="images/fingerprint.svg" alt="finger" />
</header>
